<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/head', { nonce: nonce, title: 'Signup' })%>
  <link rel="stylesheet" href="styles.folder/shared.css" />
<link rel="stylesheet" href="styles.folder/login.css" />
  <script src="/js/mobile-drawer.js" nonce="<%= nonce %>"></script>
</head>
<body>
<div class="page-wrapper">
  <%- include('includes/header', { nonce: nonce })%>
  <main id="signup">
   <div class="auth-card">
    <h1>Signup</h1>
    <% if (inputData.hasError) { %>
      <p id="input-error"><%= inputData.message %></p>
    <% } %>
    <form action="/signup" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <!-- Honeypot Field -->
      <input type="text" name="honeypot" style="display: none;">
      <div class="form-control">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= inputData.email %>" required>
      </div>
      <div class="form-control">
        <label for="confirm-email">Confirm Email</label>
        <input type="email" id="confirm-email" name="confirmEmail" value="<%= inputData.confirmEmail %>" required>
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="<%= inputData.password %>" required>
      </div>
      <button class="btn">Create user</button>
    </form>
    <div id="auth-alternative">
      <a class="btn-alt" id="login" href="/login">Login instead</a>
    </div>
    </div>
  </main>
  
  <script nonce="<%= nonce %>">
    document.addEventListener('DOMContentLoaded', function() {
      console.log('Signup page loaded');
  
    });
  </script>
<div class="spacer"></div>
<%- include('includes/footer') %>
<div>
</body>
</html>
